.slide-content-title {
  grid-column: 3/7;
  grid-row: 3/5;
}

.slide-content-image {
  grid-column: 7/13;
  grid-row: 1/25;
  /*background-color: blueviolet;*/
  background-size: cover;
  background-position: left;
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);

}

.slide-content-image > h2 {
  font-size: 4em;
  grid-column: 3/7;
  grid-row: 5/6;
}

.slide-content-image > p {
  grid-column: 3/7;
  grid-row: 6;
}

.slide-content-image > img {
  height: 100%;
}

.slide-content-text {
  grid-column: 1/7;
  grid-row: 1/25;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.slide-title {
  grid-column: 4/13;
  grid-row: 2/4;
}

.slide-video {
  grid-column: 4/13;
  grid-row: 2/6;
}

.slide-paragraph {
  grid-column: 4/13;
  grid-row: 7/9;
}

.slide-button {
  grid-column: 4/13;
  grid-row: 9/11;
  display: flex;
  justify-content: center;
}

.slide-button > a {
  background-color: black;
  color:white;
  padding: 10px;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 1s, color 1s;
  height:30px; 
  line-height: 1.7em;
  border: 1px solid black;
  text-decoration: none;
}

.slide-button > a:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}