/* App.js */

body {
  margin: 0px;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(24, 1fr);
}