/* Colors */

$primColor : black;
$secColor : white;

/* Break Points */

$desktop: 1320px;
$desktop2: 1075px;
$laptop : 1024px;
$tablet: 768px;
$big-mobile: 455px;
$mobile: 420px;
$mobile2: 380px;
$mobile3: 360px;